<!DOCTYPE html>
<html lang="en" xmlns:th="http.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<h2> Табличка редактирования данных </h2>
<br><br>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <leble for="Username">Name</leble>
    <input type="text" th:field="*{username}" id="username">
    <br><br>
    <leble for="Surname">Surname</leble>
    <input type="text" th:field="*{surname}" id="surname">
    <br><br>
    <leble for="Surname">Age</leble>
    <input type="text" th:field="*{age}" id="age">
    <br><br>
    <leble for="Password">Password</leble>
    <input type="text" th:field="*{password}" id="password">
    <br><br>
    <input type="submit" value="Обновить!">
</form>

<br><br>

<a href="/admin/showUsers">Back</a>



</body>
</html>