<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User page</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Username:</td>
        <td><p th:text="${user.getUsername()}">VALUE</p></td>
    </tr>
    <tr>
        <td>Surname:</td>
        <td><p th:text="${user.getSurname()}">VALUE</p></td>
    </tr>
    <tr>
        <td>Age:</td>
        <td><p th:text="${user.getAge()}">VALUE</p></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><p th:text="${user.getEmail()}">VALUE</p></td>
    </tr>
    <tr>
        <td>Role:</td>
        <td>
            <div th:each="role:${role}">
            <a th:text="${role.getRole}">VALUE</a>
            </div>
            </td>
    </tr>
    <tr>
</table>


<br><br>
<a href="/logout">Logout</a>
<br><br>
<a href="/">Back</a>
</body>
</html>